<div style="height:100%;display: flex;align-items: center;justify-content: center;">
  <div style="display:flex;flex-direction: column;padding:1rem;width: 100%;">
    <h1 class="heading" style="margin-bottom: 2rem;">
      StrangerMap
    </h1>
    <div class="info" style="margin-bottom: 2rem;">
      Willkommen bei StrangerMap!
      Wir brauchen deinen Namen und eine kleine Info. Danach kannst du ganz einfach Leute in deiner Nähe finden.
    </div>
    <div class="alert" style="margin-bottom: 2rem;">
      Achtung!
      Dir sollte bewusst sein, dass du deinen Standort mit Fremden teilst.
    </div>
    <form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <div style="display:flex">
        <span style="flex:1"></span>
        <button type="submit" mat-raised-button color="primary">Join!</button>
      </div>
    </form>
  </div>
</div>